# Pyton'a Giris
## Pandas

### Q1
Endeksi alfabenin ilk 10 harfi olan ve ilk 10 asal sayıyı ve ilk 10 fibonacci sayısını içeren bir veri çerçevesi oluşturun.

In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# makes a fibonacci list with given length
def fibo(l):
    fibo = [1,1]
    while len(fibo)< l:
        fibo.append(fibo[-1]+fibo[-2])
    return fibo

# makes a prime number list with given length
def prime(l):
    prime = [2,3]
    n = 5
    while len(prime)<l:
        p = True
        for i in range(2,(n//2)):
            if ( n % i == 0):
                p = False
                break
        if p == True:
            prime.append(n)
        n += 1 
    return prime

# make arrays
pArr = np.array(prime(10))
fArr = np.array(fibo(10))

# make dataframe
df = pd.DataFrame()
df['asal'] = pArr
df['fibonacci'] = fArr
df.index = np.array(list('abcdefghij'))
df

   asal  fibonacci
a     2          1
b     3          1
c     5          2
d     7          3
e    11          5
f    13          8
g    17         13
h    19         21
i    23         34
j    29         55

### Q2
Kaggle'dan Titanic: Machine Learning from Disaster isimli yarışmanın train.csv isimli dosyasını indirin ve Pandas veri çerçevelerini kullanarak tüm veriyi yükleyin. Veri çerçevelerinin .groupby() metodunu kullanarak yolcuların ortalama yaşlarını herbir cinsiyet için ayrı olacak şekilde hesaplayın.

In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('train.csv')

print('Kadin yolcularin ortalama yasi : {:.2f}'.format(df.groupby('Sex').mean()['Age']['female']))
print('Erkek yolcularin ortalama yasi : {:.2f}'.format(df.groupby('Sex').mean()['Age']['male']))

Kadin yolcularin ortalama yasi : 27.92
Erkek yolcularin ortalama yasi : 30.73

### Q3
Koşullu seçim yöntemlerini de kullanarak, 30 yaşından küçük tüm yolcuların kurtulma oranını (survival ratio) hesaplayın. Daha sonra, kurtulma oranını cinsiyete göre ayrı ayrı hesaplayın.

### First Solution:

In [4]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('train.csv')

# select all passengers under 30
df30 = df.loc[lambda df : df['Age'] < 30, : ]

# select with multiple criteria
dfS = df.loc[(df['Age'] < 30) & (df['Survived'])]

# survival ratio of under 30
survivalRatio = len(dfS)/len(df30) *100

print('30 yasindan kucuk tum yolcularin kurtulma orani: % {:.4f}'.format(survivalRatio))

females = df30.groupby('Sex').count().loc['female','PassengerId']
femaleSurvived = dfS.groupby('Sex').count().loc['female','PassengerId']

print('30 yasindan kucuk kadin yolcularin kurtulma orani: % {:.4f}'.format(femaleSurvived/females*100))

males = df30.groupby('Sex').count().loc['male','PassengerId']
maleSurvived = dfS.groupby('Sex').count().loc['male','PassengerId']

print('30 yasindan kucuk erkek yolcularin kurtulma orani: % {:.4f}'.format(maleSurvived/males*100))

30 yasindan kucuk tum yolcularin kurtulma orani: % 40.6250
30 yasindan kucuk kadin yolcularin kurtulma orani: % 71.4286
30 yasindan kucuk erkek yolcularin kurtulma orani: % 21.5190

### Second solution (Short hand)

In [6]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('train.csv')

print("""30 yasindan kucuk yolcularin kurtulma orani: 
       {:.2f} %""".format(df[df['Age']<30].mean()['Survived'] * 100))

print("""30 yasindan kucuk kadin yolcularin kurtulma orani: 
        {:.2f} %""".format(df.loc[df['Age']<30].groupby('Sex').mean().loc['female','Survived'] * 100))

print("""30 yasindan kucuk erkek yolcularin kurtulma orani: 
        {:.2f} %""".format(df.loc[df['Age']<30].groupby('Sex').mean().loc['male','Survived'] * 100))

30 yasindan kucuk yolcularin kurtulma orani:
       40.62 %
30 yasindan kucuk kadin yolcularin kurtulma orani:
        71.43 %
30 yasindan kucuk erkek yolcularin kurtulma orani:
        21.52 %