In [10]:
import pandas as pd
from numpy import nan as NA


data = pd.DataFrame([[1., 6.5, NA], [1., NA, NA],
                [NA, NA, NA], [NA, 6.5, NA]])



display(data)

data.dropna(how='all',axis=1)

     0    1   2
0  1.0  6.5 NaN
1  1.0  NaN NaN
2  NaN  NaN NaN
3  NaN  6.5 NaN

     0    1
0  1.0  6.5
1  1.0  NaN
2  NaN  NaN
3  NaN  6.5