# SQL JOIN, CTE ve CASE

## Q

Müşteri sayısı: 20’dan fazla olan ülkeler büyük ülke,
10 ile 20 arası orta,
10’dan az olanlar ise küçük ülke
olacak olursa kaç tane büyük,orta, küçük ülke vardır?

İpucu: CTE, Case, group by ifadelerini birlikte kullanabilirsiniz.

---
- ```WITH``` ifadeli CTE ozelligi MySQL 8 ve sonrasi eklenmistir, bu nedenle oncelikle MySQL upgrade edildikten sonra asagidaki sorgu calistirilabildi.

```WITH ulke_buyukluk AS(
SELECT 
	country as ulke,
	COUNT(*) musteri_sayisi,
CASE WHEN COUNT(*) > 20 THEN 'buyuk ulke'
	WHEN COUNT(*) < 10 THEN 'kucuk ulke'
	WHEN COUNT(*) >= 10 AND COUNT(*) <= 20 THEN 'orta ulke'
END AS buyukluk
FROM customers
GROUP BY country
ORDER BY musteri_sayisi DESC)
SELECT 
	buyukluk,
	COUNT(*) as adet
FROM ulke_buyukluk
GROUP BY buyukluk;```

| buyukluk  | adet| 
|:----------|----:|
| Buyuk ulke | 1 |
| Orta ulke  | 2 |
| Kucuk ulke | 24|